@font-face {
  font-family: 'Source Sans Pro-Regular';
  src: url(fonts/SourceSansPro-Regular.otf);
}


@font-face {
  font-family: 'Source Sans Pro-Bold';
  src: url(fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Semibold';
  src: url(fonts/SourceSansPro-Semibold.otf);
}



@font-face {
  font-family: 'Source Sans Pro-Extralight';
  src: url(fonts/SourceSansPro-ExtraLight.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Light';
  src: url(fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Black';
  src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
  font-family: 'Source Sans Pro-It';
  src: url(fonts/SourceSansPro-It.otf);
}

h1, h2, h3 {
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}


header {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 10px;
  width: 100%;
}


.logo {
  align-items: left;
}

.menu {
  align-items: right;
  word-spacing: 52px;
}

.menu a {
  color: #FFF;
  font-family: 'Source Sans Pro', 'helvetica';
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
}

.banner {
  display: flex;
  flex-direction: column;
}

.top-banner h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro-Bold';
  font-size: 120px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #FFF;
}

.three-words {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.three-words p {
  font-family: 'Source Sans Pro-SemiBold';
  font-size: 16px;
  color: #FFF;
}


.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;;
  align-items: center;
  background-color: #C271FF;
  border: none;
  border-radius: 25px;
  padding: 20px;
  color: white;
  font-family: "Source Sans Pro-Regular";
  font-weight: 400;
}


.bottom-banner {
  display: flex;
  flex-direction: column;
}

.highlight {
  color: #C271FF;
  font-family: "Source Sans Pro-Semibold";
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  text-align: center;
  margin-top: 200px;
}

.bottom-banner h2 {
  color: #FFF;
  font-family: "Source Sans Pro-ExtraLight";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  margin-top: 200px;
}

.pros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 25px;
  word-wrap: normal;
}

.pros img {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}

.pros h3 {
  color: #FFF;
  font-family: "Source Sans Pro-Regular";
}

.pros p {
  color: #FFF;
  font-family: "Source Sans Pro-It";
}

main {
  display: flex;
  flex-direction: column;
}

.testimonial {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #C271FF;
}



.testimonial img {
  display: flex;
  padding: 10px;
  max-width: 160px;
}



.quote {
  display: flex;
  flex-direction: column;
  color: #FFF;
  text-align: left;
  font-size: 22px;
  font-family: 'Source Sans Pro-Regular';
  font-weight: 400;
  line-height: 33.6px;
}



.quote p, i {
  font-family: "Source Sans Pro-Regular";
  margin-left: 40px;
  line-height: 15px;
}



.video {
  display: flex;
  flex-direction: column;

}

.popular {
  color: #C271FF;
  font-family: "Source Sans Pro-Semibold";
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
}

.video h1 {
  text-align: center;
  color: black;
  font-family: "Source Sans Pro-Light";
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  word-spacing: 4px;
}

.four-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}

.four-videos h2 {
  display: flex;
  font-family: Source Sans Pro-Regular;
  font-size: 16px;
  font-weight: normal;
  line-height: 20.11px;
  text-align: left;
  color: #071629;
  margin: 20px;
}

.four-videos p {
  display: flex;
  width: 300px;
  color: rgba(7, 22, 41, 0.50);
  font-family: "Source Sans Pro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 20px;
}

.phillip {
  display: flex;
  justify-content: flex-start;

}

.phillip h3 {
  color: #C271FF;
  font-family: "Source Sans Pro-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 27px; /* 192.857% */
  text-align: left;
  font-weight: normal;
  margin-top: 35px;
}


.phillip img {
  display: flex;
  padding-right: 20px;
  margin: 20px;
}

.stars-mins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px
}

.stars-mins p {
  display: flex;
  color: #C271FF;
  text-align: right;
  font-family: "Source Sans Pro-Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 27px;
}

.stars {
  display: flex;
  margin-top: 25px;
}

.stars img {
  display: flex;
  width: 15px;
  height: 15px;
}


.review {
  display: flex;
  flex-direction: column;
}

.membership {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-evenly;
  background-color: #071629;
  padding: 50px;
}

.free-membership {
  display: flex;
  flex-direction: column;
}

.free-membership h1 {
  font-family: "Source Sans Pro-Extralight";
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.free {
  color: #C271FF;
  font-family: "Source Sans Pro-Regular";
  font-weight: 700;
}

.smiley-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.smileys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.smiley-boxes img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 44px;
  height: 35px;
  padding: 10px;
}

.smiley-boxes h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro-Regular";
  font-size: 18px;
  font-style: normal;
  line-height: 26px;

}

.smiley-boxes p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  font-family: Source Sans Pro-Regular;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.faq h1 {
  font-family: Source Sans Pro-Regular;
  color: #071629;
  text-align: center;
  font-family: "Source Sans Pro-Light";
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

}

.four-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.four-boxes h2 {
  font-family: "Source Sans Pro-bold";
  font-size: 16px;
  line-height: 20.11px;
  text-align: left;
  color: #071629;
}

.four-boxes p {
  font-family: "Source Sans Pro-Regular";
  color: #07162980;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.faq-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
