body {
  width: 1440px;
  height: 3718px;
}

.background-img {
  background-image: url("images/background.png");
  width: 1440px;
  height: 1093px;
  position: absolute;
}

header {
  width: 1103px;
  height: 29px;
  position: absolute;
}

.logo {
  width: 167px;
  height: 29px;
  right: 100%;
}

.menu {
  width: 234px;
  height: 15px;
  left: 100%;
  position: absolute;
}

.h1 {
  width: 684px;
  height: 151px;
  position: absolute;
}
